<div class="row" style="margin-top:15px;">
    <div class="col-md-12">
      <section class="text-center pb-1 my-0">
        <!--Section heading-->
        <h2 class="h1 ">Products on the Market</h2>
        <!--Section description-->
        <!-- <p class="grey-text pb-1">Special discount packages</p> -->
      </section>
    </div>
</div>
    <mdb-card>
        <mdb-card-body>
  
          <div class="container">
            <div class="row">
              <div class="col-md-3 mx-auto my-4" *ngFor="let card of cards">
                <mdb-card>
                  <mdb-card-img [src]="card.img" alt="Card image cap">
                  </mdb-card-img>
                  <mdb-card-body>
                    <mdb-card-title class="text-center">
                      <h4>{{card.title}}</h4>
                      <hr class="warning-color">
                    </mdb-card-title>
                    <h4 class="text-center">{{card.quantity}} / {{card.price}}</h4>
                    <hr class="warning-color">
                    <mdb-card-text>
                      {{card.description}}
                    </mdb-card-text>
          
                    <button mdbBtn color="success" rounded="true" (click) = "openModal()">ADD TO CART   <mdb-icon fas icon="cart-plus" style="margin-left: 10px;"></mdb-icon></button>
                  </mdb-card-body>
                </mdb-card>
              </div>
            </div>
          </div>
  
        </mdb-card-body>
    </mdb-card>