<div class="container">
 
    <div style="margin-top: 30px;">
<section class="text-center" >

    <!--Section heading-->
    <h2 class="h1 font-weight-bold">About</h2>
    <!--Section description-->
    <p class="px-5 mb-5 pb-3  black-text">We pride ourselves on offering a first class service to all our clients, this encompasses a 
        timely delivery and offering a wide range of fresh vegetables, dairy produce and 
        general grocery essentials.  Perfection is our main aim as we try to maintain a high level of service to all 
        our customers no matter how large or small. We have a dedicated team who work hard with us to provide the 
        outstanding service we endeavour to give our customers. </p>
  
    <!--Grid row-->
    <div class="row" style="margin-top: 40px;">
  
      <!--Grid column-->
      <div class="col-md-4">
        <mdb-icon fas icon="shopping-cart" size="3x" class="red-text"></mdb-icon>
        <h5 class="font-weight-bold mt-3">Products</h5>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
          aperiam
          minima assumenda
          deleniti hic.
        </p>
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-md-4">
        <mdb-icon fas icon="truck" size="3x" class="cyan-text"></mdb-icon>
        <h5 class="font-weight-bold mt-3">Dilevery</h5>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
          aperiam
          minima assumenda
          deleniti hic.
        </p>
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-md-4">
        <mdb-icon far icon="comments" size="3x" class="orange-text"></mdb-icon>
        <h5 class="font-weight-bold mt-3">Support</h5>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
          aperiam
          minima assumenda
          deleniti hic.
        </p>
      </div>
      <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
  </section>
  <!--Section: Features v.1-->
</div>


<div style="margin-top: 50px;">

  <!-- Section: Contact v.2 -->
<section class="my-5" >

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center ">Contact us</h2>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
      eum porro a pariatur veniam.</p>
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-md-9 mb-md-0 mb-5">
  
        <form>
  
          <!-- Grid row -->
          <div class="row">
  
            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="contact-name" class="form-control" mdbInput>
                <label for="contact-name" class="">Your name</label>
              </div>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="contact-email" class="form-control" mdbInput>
                <label for="contact-email" class="">Your email</label>
              </div>
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
          <!-- Grid row -->
          <div class="row">
  
            <!-- Grid column -->
            <div class="col-md-12">
              <div class="md-form mb-0">
                <input type="text" id="contact-Subject" class="form-control" mdbInput>
                <label for="contact-Subject" class="">Subject</label>
              </div>
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
          <!-- Grid row -->
          <div class="row">
  
            <!-- Grid column -->
            <div class="col-md-12">
              <div class="md-form">
                <textarea type="text" id="contact-message" class="form-control md-textarea" rows="3"
                  mdbInput></textarea>
                <label for="contact-message">Your message</label>
              </div>
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
        </form>
  
        <div class="text-center text-md-left">
          <a mdbBtn color="green" mdbWavesEffect>Send</a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-3 text-center">
        <ul class="list-unstyled mb-0">
          <li>
            <mdb-icon fas icon="map-marked" size="2x" class="green-text"></mdb-icon>
            <p>Colombo,Sri Lanka</p>
          </li>
          <li>
            <mdb-icon fas icon="phone" size="2x" class="mt-4 green-text"></mdb-icon>
            <p>011-22335566</p>
          </li>
          <li>
            <mdb-icon fas icon="envelope" size="2x" class="mt-4 green-text"></mdb-icon>
            <p class="mb-0">contact@example.com</p>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Contact v.2 -->
</div>



</div>

