<div class="container">
    <div class="row">



        <div class="col-md-3">
            
            <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                  <!-- Card img -->
                  <mdb-card-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ16L6RygprLcledV0rJLvzgiZMbBCK5u7c7ZUHqBYrwFpx9apv&usqp=CAU" alt="Card image cap"></mdb-card-img>
                  <a>
                    <div class="mask"></div>
                  </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                  <!--Title-->
                  <mdb-card-title>
                    <h4>Card Title</h4>
                  </mdb-card-title>
              
                  <!--Text-->
                  <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                  </mdb-card-text>
              
                  <a mdbBtn color="primary" mdbWavesEffect >Create New Pack</a>
                  
                </mdb-card-body>
              </mdb-card>
            

        </div>




        <div class="col-md-3"  *ngFor = "let number of list">
            
            <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                  <!-- Card img -->
                  <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap"></mdb-card-img>
                  <a>
                    <div class="mask"></div>
                  </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                  <!--Title-->
                  <mdb-card-title>
                    <h4>Card Title {{number}}</h4>
                  </mdb-card-title>
              
                  <!--Text-->
                  <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                  </mdb-card-text>
              
                  <a mdbBtn color="primary" mdbWavesEffect (click)="onItemClick(number)">View Pack</a>
                  <a mdbBtn color="primary" mdbWavesEffect (click)="onEditClick(number)">Edit</a>
                </mdb-card-body>
              </mdb-card>
            

        </div>
    </div>
</div>