.scrollbar-ripe-malinka::-webkit-scrollbar-track {
        background-color: #F5F5F5;
        border-radius: 10px; }
        
        .scrollbar-ripe-malinka::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5; }
        
        .scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-image: -webkit-linear-gradient(330deg, #f093fb 0%, #f5576c 100%);
        background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%); }
    
        .example-1 {
        position: relative;
        overflow-y: scroll;
        height: 100px; }

        
        @media(max-width:500px){
            .colm {
                width: 100%;
                padding: 15px;
            }
        }
        
        @media(min-width:500px) and (max-width:768px){
            .colm {
                width: 100%;
                padding-left: 50px;
                padding-right: 50px;
                padding-bottom: 15px;
            }
        }


        @media (min-width: 768px) and (max-width: 992px){
            .colm {
                width: 50%;
                padding: 25px;
            }
        }
        @media (min-width: 992px) and (max-width: 1200px) {
            .colm {
                width: 33.33%;
                padding: 15px;
            }
        }
        @media (min-width: 1200px) {
            .colm {
                width: 25%;
                padding: 10px;
            }
        }