<div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
      <section class="text-center pb-1 my-1">
        <!--Section heading-->
        <h2 class="h1 ">Featured Packs</h2>
        <!--Section description-->
        <p class="grey-text pb-1">Special discount packages</p>
        <hr>
      </section>
    </div>
  
  </div>
  
  <div class="row" style="margin-top: 20px;">
  <mdb-carousel [isControls]="false" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
                [animation]="'slide'">
    <mdb-carousel-item *ngFor="let item of slides; let i = index">
      <div [class]="size" *ngFor="let card of item; let cardIndex = index" [ngClass]="{make:onc}">
        <!-- Card -->
        <!-- product package pannel -->
  <mdb-card>
    <mdb-card-body>
      
  <!-- Card deck -->
  <!-- <div>
    
    <div> -->
      <!-- Card Light -->
      <div class="card">
  
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top img-responsive"
            src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/slideshows/powerhouse_vegetables_slideshow/650x350_powerhouse_vegetables_slideshow.jpg"
            style="max-height: 150px;">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!-- Card content -->
        <div class="card-body ">
  
          <!-- Title -->
          <h4 class="card-title green-text">{{card.package}}</h4>
          <p class="card-title">{{card.price}}</p>
          <hr class="warning-color">
          <!-- Text -->
          <p class="card-text">{{card.description}}</p>
          <!-- Link -->
          <a (click)="onViewMoreClicked()" class="black-text d-flex justify-content-end">
            <h5 class="text-success">View more <i class="fas fa-angle-double-right"></i></h5>
          </a>
        </div>
        
      </div>
      <!-- Card Light -->
    <!-- </div>
  
  </div> -->
  <!-- Card deck -->
  
  </mdb-card-body>
  </mdb-card>
        <!-- Card -->
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
  </div>