<div class="container">
    <div class="row">
        <div class="col-md-6">

        </div>

        <div class="col-md-3">
            <form action="">
                <div class="md-form">
                    <!-- <input mdbInput type="text" name="text" [(ngModel)]="text" id="form1" class="form-control"> -->
                    <label for="form1" class="">Product Name</label>
                </div>
                <div class="md-form">
                    <!-- <input mdbInput type="text" name="text" [(ngModel)]="text" id="form2" class="form-control"> -->
                    <label for="form1" class="">Product Name</label>
                </div>
            </form>

        </div>
    </div>
</div>