<div class="container">
<div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
      <section class="text-center pb-1 my-1">
        <!--Section heading-->
        <h2 class="h1 ">My Shopping Cart</h2>
        <hr>
      </section>
  </div>
</div>

<table mdbTable mdbTableScroll scrollY="true" maxHeight="350" bordered="true">
  <thead class="success-color white-text">
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let el of elements">
      <th scope="row">{{el.id}}</th>
      <td>{{el.img}}</td>
      <td>{{el.name}}</td>
      <td>{{el.quantity}}</td>
      <td>{{el.price}}</td>
      <td><span class="table-remove">
        <button mdbBtn type="button" color="danger" rounded="true" size="sm" mdbWavesEffect>X</button>
      </span></td>
    </tr>
  </tbody>
</table>

<hr>

<div class="row" style="margin-top: 20px; margin-right: 150px;">
  <div class="col-md-12">
    <section class="text-right pb-1 my-1">
      <!--Section heading-->
      <h2 class="h1 ">Total : </h2>
      <button mdbBtn type="button" color="success" rounded="true" size="lg" mdbWavesEffect>Confirm Order</button>
    </section>
  </div>
</div>
<hr>
</div>



