.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  th{
    font-size: small;
    max-height: 25px;
  }

  td{
    font-size: small;
  }