<div class="row">

    <!-- Dashboard sidebar -->
    <div class="col-md-2 grey lighten-4 sidenav">
        <nav class="nav flex-column py-4 font-weight-bold" style="margin-top: 50px;">


            <a class="nav-link" routerLink="dashboard" routerLinkActive="active1">
                <mdb-icon fas icon="th-large" style="margin-right: 10px;"></mdb-icon>Dashboard
            </a>
            <a class="nav-link" routerLink="orders" routerLinkActive="active1">
                <mdb-icon fas icon="credit-card" style="margin-right: 10px;"></mdb-icon>Orders
            </a>
            <a class="nav-link" routerLink="productsadmin" routerLinkActive="active1">
                <mdb-icon fas icon="shopping-cart" style="margin-right: 10px;"></mdb-icon>Products
            </a>
            <a class="nav-link" routerLink="featuredpacksadmin" routerLinkActive="active1">
                <mdb-icon fas icon="boxes" style="margin-right: 10px;"></mdb-icon>Packages
            </a>
            <a class="nav-link" routerLink="users" routerLinkActive="active1">
                <mdb-icon fas icon="users" style="margin-right: 10px;"></mdb-icon>Users
            </a>

        </nav>
    </div>

    <!-- rightside -->

    <!-- business status dash  -->
    <div class="col-md-10" style="margin-top: 30px;">
        <router-outlet></router-outlet>
    </div>

</div>