<mdb-card>
    <mdb-card-body cascade="true" class="text-center pb-0">
        <h2 class="font-weight-bold">Business Status</h2>
        <hr class="warning-color">
        <div class="row">
            <div class="col-md-4 text-center">
                <h4>
                    <mdb-icon fas icon="users" style="margin-right: 10px;"></mdb-icon>Users
                </h4>
                <h1 class="font-weight-bold">1.3M</h1>
                <p>+500 New Registrations</p>
            </div>
            <div class="col-md-4 text-center">
                <h4>
                    <mdb-icon fas icon="carrot" style="margin-right: 10px;"></mdb-icon>Vegetables
                </h4>
                <h1 class="font-weight-bold">100</h1>
                <p>Available Vegetables</p>
            </div>
            <div class="col-md-4 text-center">
                <h4>
                    <mdb-icon fas icon="boxes" style="margin-right: 10px;"></mdb-icon>Packages
                </h4>
                <h1 class="font-weight-bold">25</h1>
                <p>suggested packages</p>
            </div>
        </div>
        <hr class="warning-color">
    </mdb-card-body>
</mdb-card>

<!-- cards -->
<div class="row" style="margin-top:30px;">
    <div class="col-md-4">
        <mdb-card>
            <mdb-card-body>
                <h4>
                    <mdb-icon fas icon="users" style="margin-right: 10px;"></mdb-icon>Orders
                    <mdb-icon fas icon="arrow-right" class="float-right" style="margin-right: 10px;"></mdb-icon>
                </h4>
                <hr class="warning-color">
                <mdb-card style="margin-top:5px;">
                    <mdb-card-body>
                    </mdb-card-body>
                </mdb-card>
                <mdb-card  style="margin-top:5px;" >
                    <mdb-card-body></mdb-card-body>
                </mdb-card>
                <mdb-card  style="margin-top:5px;">
                    <mdb-card-body></mdb-card-body>
                </mdb-card>
            </mdb-card-body>
        </mdb-card>
    </div>
    <div class="col-md-4">
        <mdb-card>
            <mdb-card-body>
                <h4>
                    <mdb-icon fas icon="users" style="margin-right: 10px;"></mdb-icon>Orders
                    <mdb-icon fas icon="arrow-right" class="float-right" style="margin-right: 10px;"></mdb-icon>
                </h4>
                <hr class="warning-color">
                <mdb-card style="margin-top:5px;">
                    <mdb-card-body>
                    </mdb-card-body>
                </mdb-card>
                <mdb-card  style="margin-top:5px;" >
                    <mdb-card-body></mdb-card-body>
                </mdb-card>
                <mdb-card  style="margin-top:5px;">
                    <mdb-card-body></mdb-card-body>
                </mdb-card>
            </mdb-card-body>
        </mdb-card>
    </div>
    <div class="col-md-4">
        <mdb-card>
            <mdb-card-body>
                <h4>
                    <mdb-icon fas icon="users" style="margin-right: 10px;"></mdb-icon>Orders
                    <mdb-icon fas icon="arrow-right" class="float-right" style="margin-right: 10px;"></mdb-icon>
                </h4>
                <hr class="warning-color">
                <mdb-card style="margin-top:5px;">
                    <mdb-card-body>
                    </mdb-card-body>
                </mdb-card>
                <mdb-card  style="margin-top:5px;" >
                    <mdb-card-body></mdb-card-body>
                </mdb-card>
                <mdb-card  style="margin-top:5px;">
                    <mdb-card-body></mdb-card-body>
                </mdb-card>
            </mdb-card-body>
        </mdb-card>
    </div>
</div>
