
    <!--Content-->
    <div class="modal-content">
        <!--Header-->
        <div class="modal-header" >
          <h3 class="text-success" style="font-style: oblique;">Package 01</h3>
  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>
  
        <!--Body-->
        <div class="modal-body">
  
          <div class="row">
            <div class="col-3">
              <p></p>
              <p class="text-center">
                <mdb-icon fas icon="shopping-cart" class="amber-text" size="4x"  ></mdb-icon>
              </p>
            </div>
  
            <div class="col-9">
              <!-- <p>{{content.packageDescription}}</p> -->
              <h2>
                <mdb-badge success="true">Rs. 1500/=</mdb-badge>
              </h2>
            </div>
          </div>
        </div>
  
        <!--Footer-->
        <div class="modal-footer justify-content-center">
          <a type="button" mdbBtn color="success" class="waves-effect" (click)="onClickEdit()" mdbWavesEffect>Edit
            <mdb-btn far icon="gem" class="ml-1"></mdb-btn>
          </a>
          <a type="button" mdbBtn color="success" class="waves-effect" mdbWavesEffect>Delete
            <mdb-btn far icon="gem" class="ml-1"></mdb-btn>
          </a>
          <!-- <a type="button" mdbBtn color="success" outline="true" class="waves-effect" mdbWavesEffect
            data-dismiss="modal">Add to Cart</a> -->
        </div>
      </div>
      <!--/.Content-->
    <!-- </div>
  </div> -->
  

