<div mdb-card class="modal-content container">
  <div class="modal-header  d-flex justify-content-center">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
    <h2 class="modal-title w-100" id="myModalLabel">{{packageName}}</h2>
  </div>
  
        <div class="modal-body">
          <div class="row" *ngFor="let listItem of specificProductList">
            <div class="col-md-12  list-group-item clearfix">
              <div class="float-left">
                <h2>{{listItem.productID | packageItemNamingPipe}}</h2>
                <p>{{listItem.quantity}}g</p>
                <p>Rs {{listItem.quantity | packageItemTotalPricePerItemPipe:listItem.productID}}/=</p>

              </div>
                <span class="float-right">
                  <img [src]="listItem.productID | packageItemImagePipe" alt="" style="width: auto;height: 70px;" class="img-responsive">
                </span>
            </div>
          </div>
        </div>


          <div class="row ">
    
            
    


</div>

<div class="modal-footer">
  <div class="container-fluid clearfix">
  <div class="row">
    <div class="col-md-12">
      <h2 class="float-left">Rs {{totalAmount}}/=</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 float-right">
      <button type="button" mdbBtn  class="relative waves-light warning-color" mdbWavesEffect style="color: white;" (click)="onAddToCartClick()">ADD TO CART <mdb-icon fas icon="cart-plus" style="margin-left: 10px;"></mdb-icon></button>
    </div>
  </div>
</div>
</div>