.badge {
    width: 35px;
    height: 35px;
    position: absolute;
    top: -10px;
    left: -10px;
    padding-top: 10px;
    border-radius: 50%;
    background:#00C851;
    color: white;
    font-weight: 400;
    font-size: medium;
  }