
<div style="position: fixed; bottom: 30px; right:50px;">

    <a (click)="onbtnClicked()" mdbWavesEffect>



        <!-- <button mat-fab color="warn" aria-label="Example icon button with a home icon">
            <mdb-icon fas icon="cart-plus"></mdb-icon>
          </button> -->
        
        
        
            <button mat-raised-button href=""
                 style="background: #FF8800;
                        width: 80px;
                        height: 80px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        color: aliceblue;
                        font-size: 40px;
                        /* box-shadow:5px 10px #f4f0f0; */
                        position: fixed;
                        right: 50px;
                        bottom: 20px;"><mdb-icon fas icon="cart-plus"></mdb-icon><span class="badge" *ngIf="notificationCount!==0">{{notificationCount}}</span></button>
          


    </a>

 </div>
