<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="h1 font-weight-bold ">Vegetables</h2>
            <hr class="warning-color">
        </div>
    </div>


    <div class="row">
        <div class="col-md-3" *ngFor="let product of products">
            <a (click)="onClickItem(product.productID)">
                <div class="row">
                    <div class="col-md-12  list-group-item clearfix">
                        <div class="float-left">
                            <h2>{{product.productName}}</h2>
                            <p>Rs {{product.unitPrice}}/=</p>

                        </div>
                        <span class="float-right">
                            <img [src]="product.imgSrc" alt="" style="width: auto;height: 70px;" class="img-responsive">
                        </span>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>