<div class="container">
    <app-banner-slider></app-banner-slider>
    <app-item-card-slider></app-item-card-slider>
    <app-featured-pack-card-slider></app-featured-pack-card-slider>
    <!-- <app-float-btn></app-float-btn> -->

    <!--Section: Features v.1-->
<section class="text-center" style="margin-top: 50px;">

    <!--Section heading-->
    <h2 class="h1 font-weight-bold">Why Us?</h2>
    <!--Section description-->
    <p class="px-5 mb-5 pb-3  black-text">We pride ourselves on offering a first class service to all our clients, this encompasses a 
        timely delivery and offering a wide range of fresh vegetables, dairy produce and 
        general grocery essentials.  Perfection is our main aim as we try to maintain a high level of service to all 
        our customers no matter how large or small. We have a dedicated team who work hard with us to provide the 
        outstanding service we endeavour to give our customers. </p>
  
    <!--Grid row-->
    <div class="row" style="margin-top: 40px;">
  
      <!--Grid column-->
      <div class="col-md-4">
        <mdb-icon fas icon="shopping-cart" size="5x" class="red-text"></mdb-icon>
        <h5 class="font-weight-bold mt-3">Products</h5>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
          aperiam
          minima assumenda
          deleniti hic.
        </p>
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-md-4">
        <mdb-icon fas icon="truck" size="5x" class="cyan-text"></mdb-icon>
        <h5 class="font-weight-bold mt-3">Dilevery</h5>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
          aperiam
          minima assumenda
          deleniti hic.
        </p>
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-md-4">
        <mdb-icon far icon="comments" size="5x" class="orange-text"></mdb-icon>
        <h5 class="font-weight-bold mt-3">Support</h5>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
          aperiam
          minima assumenda
          deleniti hic.
        </p>
      </div>
      <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
  </section>
  <!--Section: Features v.1-->




</div>

